
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(135deg, #3f3f46);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    color: #ffffff
 }

.container {
    background: #19181f;
    padding: 200px 40px;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.container h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 2rem;
    color: #fbfcfd;
  }

.form-container input[type="text"]{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px 20px;
    font-size: 1rem;
    border: 1px solid #ffffff;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: #3f3f46;

}
.logo {
  width: 1000px;
  height: 300px;
  position: absolute;
  top: 0px;
  left: 0px;
}