body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #2c2c38;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background-color: #1e1e1e;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
    width: 320px;
    text-align: center;
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 60px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  .user-icon img{
    height: 80px;
    width: auto;
  
  }
  
  
  input {
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: none;
    background-color: #333;
    color: white;
  }
  
  input::placeholder {
    color: #aaaaaa;
  }
  
  .signup-btn {
    background-color: #FFD700;
    color: #000;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .signup-btn:hover {
    background-color: #e6c200;
  }
  
  
  .back-to-login {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
  }
  
  .back-to-login a {
    color: #FFD700;
    text-decoration: underline;
  }
  .botao {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.05);
  }
  
  .botao:hover {
    background-color: #333333;
    color: #FFD700; /* amarelo/dourado */
    border-color: #FFD700;
    box-shadow: 0 0 8px rgba(255, 215, 0, 0.4);
    transform: scale(1.05);
  }
  
  