body {
  background-color: #2c2c38;
  height: 100vh;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */

}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1c1b1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px
}

.navbar img {
  height: 200px;
  width: auto;
}

.nav-links button {
  background-color: #1e1e1e; /* fundo escuro */
  color: #ffffff; /* texto branco */
  border: 1px solid transparent;
  padding: 10px 18px;
  margin: 0 6px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.05);
}

.nav-links button:hover {
  background-color: #333333;
  color: #FFD700; /* amarelo/dourado */
  border-color: #FFD700;
  box-shadow: 0 0 8px rgba(255, 215, 0, 0.4);
  transform: scale(1.05);
}

  /* Conteúdo principal */
.vozes {
  margin-top: 250px;
  text-align: center;
  width: 100%;
  height: 100px;
  z-index: 99;
}
  
h1 {
    color: #ffffff;
    font-size: 2.2em;
  }
  
p{
    color: #ffffff;
    font-size: 1.2em;
    margin-top: 25px;
  }
  
/* Container geral para destaques e produtos */
.grid-container {
  display: grid;
  justify-items: center; /* centraliza os cards */
  margin-top: 30px;
}

/* Cartões (vale para destaques e produtos) */
.grid-container .card {
  background-color: #6e6b70;
  color: #fff;
  width: 200px;
  padding: 10px;
  border-radius: 12px;
  text-align:center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.grid-container .card img {
  max-width: 100px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Títulos */
h2 {
  grid-column: span 3; /* faz o título ocupar a linha toda */
  text-align: center;
  margin: 20px 0;
  font-size: 1.8em;
  color: #fff;
}
.usuario-icone {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #1e1e1e;
  color: white;
  padding: 10px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.usuario-icone span {
  margin-left: 10px;
}