
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3c3b3f;
  font-family: Arial, sans-serif;
  color: white;
  min-height: 100vh;
  padding-top: 160px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1c1b1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px
}

.navbar img {
  height: 200px;
  width: auto;
}

.nav-links button {
  background-color: #1e1e1e; /* fundo escuro */
  color: #ffffff; /* texto branco */
  border: 1px solid transparent;
  padding: 10px 18px;
  margin: 0 6px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.05);
}

.nav-links button:hover {
  background-color: #333333;
  color: #FFD700; /* amarelo/dourado */
  border-color: #FFD700;
  box-shadow: 0 0 8px rgba(255, 215, 0, 0.4);
  transform: scale(1.05);
}

body {
  background-color: #2c2c38;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-box {
  background-color: #1c1b21;
  padding: 135px 50px;
  border-radius: 50px;
  text-align: center;
  width: 300px;
}


/* Imagem user */
.user-icon img{
  height: 80px;
  width: auto;

}

/* Título "Login" */
.login-box h2 {
  color: white;
  margin-bottom: 20px;
}

/* Campos de input */
.form-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  background-color: #4b4a51;
  color: white;
  font-size: 14px;
}

/* Botão de login */
.botao {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.05);
}

.botao:hover {
  background-color: #333333;
  color: #FFD700; /* amarelo/dourado */
  border-color: #FFD700;
  box-shadow: 0 0 8px rgba(255, 215, 0, 0.4);
  transform: scale(1.05);
}
.back-to-login {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.back-to-login a {
  color: #FFD700;
  text-decoration: underline;
}
